body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

svg circle {
    fill: steelblue;
    fill-opacity: 60%;
    pointer-events: auto;
    stroke: white;

    fill: var(--color);
}

header {
    display: flex;
    align-items: baseline;
    padding: 0 1rem;
}

header p {
    display: block;
}

em {
    display: block;
    color: #777;      /* optional styling */
    font-style: italic;
}

time {
    display: block;
    font-size: 1.1em;
    font-weight: 500;
}


.legend {
    display: flex;
    width: 100%;
    margin-block: 5px;
    border: 1px solid white;
}

.legend div, svg circle{
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
        in oklch,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
}

.legend div {
    flex: 1;
    padding: 10px 0;
    color: white;
    background: var(--color);

    text-align: center;
    border: 1px solid white;
}